<<<<<<< HEAD
/* 复用的样式组件 */
.weui-btn {
    position: relative;
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: #fff;
    line-height: 1.88235294;
    border-radius: 8px;
    
}
.weui-btn_primary {
   
    background-color: #07c160;
    
}
.weui-btn_primary:active{
    background-color: yellow;
}
.weui-btn_warn {
    background-color:pink;
    color: #fa5151;
}
.weui-btn + .weui-btn {
    margin-top: 10px;
=======
/* 复用的样式组件 */
.weui-btn {
    position: relative;
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: #fff;
    line-height: 1.88235294;
    border-radius: 8px;
    
}
.weui-btn_primary {
   
    background-color: #07c160;
    
}
.weui-btn_primary:active{
    background-color: yellow;
}
.weui-btn_warn {
    background-color:pink;
    color: #fa5151;
}
.weui-btn + .weui-btn {
    margin-top: 10px;
>>>>>>> master
}